/* Global Styles */
/* Note: Tailwind CSS is loaded via CDN in index.html for this project setup */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #050505;
    color: white;
}