/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #050505;
    color: white;
}